@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    *{
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
        font-family: 'Open Sans', 'sanser if';
    }

    body{
        font-family: "Open Sans", sans-serif;
        background-image: linear-gradient(to bottom, rgba(92, 49, 197, 1), rgba(26, 12, 42, 1));
        height: 100%;
    }

    a{
        text-decoration: none !important;
    }

   h1{
    font-weight: 800;
    font-size: 60px;
    color: aliceblue; 
    }

    p{
        font-weight: 200;
        font-size: 25px;
        color: aliceblue;
    }

    h1{
        font-weight: 800;
        font-size: 60px;
    }

    /* Nav */
    .navB-content {
        display: flex;
        background-color: #1A0C2A;
        justify-content: center;
    }

    .nav__bar{
        display: flex;
        gap: 50px;
        align-items: center;
        height: 5em;
    }

    .text-nav {
        display: flex;
        color: aliceblue;
        text-decoration: none;
        justify-content: center;
        font-weight: 400;
        transition: .5s;
    }

    .text-nav:hover{
        color: #6827FE;
    }
    
    /* Nav */

    /* box-home */

    .main-text{
        font-weight: 800;
        font-size: 60px;
        margin: -15px auto;
        color: white;
    }

    .box-1{
        margin:  60px 20%;
        padding-top: 2rem;
    }

    .box-1 > h1{
        font-weight: 800;
        font-size: 50px;
        margin: -15px auto;
        color: white;
    }

    .box-1 > p{        
        margin: 35px 0px;
        font-weight: 300;
        font-size: 25px;
        color: white;
    }

    .box-1 > img{
        width: 50vw;
        max-width: 265px;
    }

    .botao1{
        display: flex;
        margin: 40px auto;
        font-size: 20px;
        font-weight: 700;
        color: white;
        border-radius: 8px;
        border: 3px solid #6827FE;
        background-color: #6827FE;
        padding: 3px 20px !important;
        transition: .5s;
    }

    .botao1:hover{
        border: 3px solid rgba(26, 12, 42, 1);
        background-color: rgba(26, 12, 42, 1);
    }

    .box-2{ 
        width: 50%;
        margin: 0 15%;

    }

    .box-2>img{
        max-width: 270px;
        min-width: 150px;
        width: 15vw;
    }
        /* box-home */


    /* O QUE FAZ O PLAYLIST? */

    .experience_section .row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .detail-box{
        margin: 0 10%;
    }
    
    .experience_section .detail-box p {
        margin-top: 20px;
    }

    .experience_section .detail-box .btn-box a {
        text-align: center;
        width: 165px;
        font-size: 15px;
        margin: 5px;
    }
    
    .experience_section .img-box img {
        width: 80%;
    }

    .layout_padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    /* O QUE FAZ O PLAYLIST? */


    /* AVALIAÇÃO */

    div.box-3{
        display: flex;
        margin: 0 10px 0 auto;
        flex-direction: row !important;
    }
    div.box-3 > p.avaliacao{
        background-color: rgba(26, 12, 42, 1);
        border-radius: 9px;
        padding: 3rem 1rem;
        text-align: center;
        width: 30vw;
        height: 32vh;
        box-shadow: 1px 8px 20px black;
    }

    div.box-4{
        display: flex;
        margin: 0 auto 0 10px;
        flex-direction: row !important;
    }

    div.box-4 > p.avaliacao{
        background-color: rgba(26, 12, 42, 1);
        border-radius: 9px;
        padding: 3rem 1rem;
        text-align: center;
        width: 30vw;
        height: 32vh;
        box-shadow: 1px 8px 20px black;
    }

    .avaliacao{
        margin-bottom: 0 !important;
        border-radius: 9px !important;
    }


    .avaliacao_box{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .full-box{
        margin-bottom: 10rem;
    }

    /* O JEITO MAIS FÁCIL DE TRANSFERIRPLAYLISTS */

    .botao2{
        display: flex;
        font-size: 20px;
        font-weight: 700;
        color: white;
        border-radius: 8px;
        border: 3px solid #6827FE;
        background-color: #6827FE;
        padding: 3px 20px !important;
        transition: .5s;
    }

    .botao2:hover{
        border: 3px solid rgba(26, 12, 42, 1);
        background-color: rgba(26, 12, 42, 1);
    }
      
    .block{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 18rem; 
    }

      .box-text {
        border-radius: 8px;
        width: 50vw;
        max-width: 760px;
        height:45px;
        border: none;
        padding-left: 15px;
      }

     /* O JEITO MAIS FÁCIL DE TRANSFERIRPLAYLISTS */


    /* FOOTER */

    .footer{
        margin-bottom: 3rem;
    }

    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;;
    }

     .line{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 100%;
        color: black;
      }

    .footer-content .p1{
        display: flex;
        font-weight: 500;
        font-size: 16px;
    }

    .footer-content .p2{
        display: flex;
        font-size: 16px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    /* FOOTER */